
@{
    ViewData["Title"] = "GetReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="margin-left:240px;">
    <div class="btn-group mr-2 btn-group-lg" role="group" aria-label="First group">
        <a href="/Report/GetDailyReport" class="btn btn-outline-primary">Daily Test Report</a>
        <a href="/Report/GetMonthlyReport" class="btn btn-outline-success">Monthly Test Report</a>
        <a href="/Report/GetYearlyReport" class="btn btn-outline-warning">Yearly Test Report</a>
        <a href="/Report/GetTesterReport" class="btn btn-outline-info">Tester Report</a>
    </div>
</div>

