
@{
    ViewData["Title"] = "Error 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 class="text-center display-2">4<span>0</span>4</h1>
        </div>
        <p class="text-center">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a href="/Column/GetColumns" class="btn btn-outline-dark card-img-bottom">Go back to Project</a>
    </div>
</div>

