@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project Management Tool</h1>
    <p>Welcome to the Project Management Tool.</p>
    <p>@ViewBag.Kadri</p>
    <p>@ViewBag.Türker</p>
    <script></script>
</div>

