<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMT | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectManagementTool.styles.css" asp-append-version="true" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        body {
        background-color: #fbfbfb;
        }
        media (min-width: 991.98px) {
        main {
        padding-left: 240px;
        }
        }

        /* Sidebar */
        .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 58px 0 0; /* Height of navbar */
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 240px;
        z-index: 600;
        }
    </style>
    <style>
    .dropbtn {
      background-color: 3e8e41#;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: f1f1f1#;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: 3e8e41#;}
    </style>
    <style>
        /* Style the links inside the sidenav */
        #mySidenav a {
            position: absolute; /* Position them relative to the browser window */
            left: -150px; /* Position them outside of the screen */
            transition: 0.3s; /* Add transition on hover */
            padding: 15px; /* 15px padding */
            width: 200px; /* Set a specific width */
            text-decoration: none; /* Remove underline */
            font-size: 20px; /* Increase font size */
            color: white; /* White text color */
            border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
            margin-top: 65px;
        }

            #mySidenav a:hover {
                left: 0; /* On mouse-over, make the elements appear as they should */
            }

        /* The about link: 20px from the top with a green background */
        #projects {
            top: 20px;
            background-color: #04AA6D;
            margin-bottom:1px;
        }

        #testcases {
            top: 90px;
            background-color: #2196F3; /* Blue */
            margin-bottom: 1px;
        }

        #testsets {
            top: 160px;
            background-color: #f44336; /* Red */
            margin-bottom: 1px;
        }
    </style>
</head>
<body style="overflow-x:scroll;">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <div id="mySidenav" class="sidenav" style="z-index:5; position:relative;">
            <a href=/Column/GetColumns id="projects">Project</a>
            <a href="#" id="testcases">Test Cases</a>
            <a href="#" id="testsets">Test Sets</a>
        </div>
        <!-- Sidebar -->
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Brand -->
                <a class="nav-brand text-white" style="font-size:24px;font-family:Arial, Helvetica, sans-serif; text-decoration:none; margin-right:25px; margin-left:25px;" href="/Home/Index">
                    <i class="fa fa-check" style="font-size:24px; margin-right:15px;"></i>Test Management Tool
                </a>
                <!-- Search form -->
                <form class="d-none d-md-flex input-group w-auto my-auto">
                    <input autocomplete="off" type="search" class="form-control rounded"
                           placeholder='Search' />
                    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                </form>

            @{
                if(ViewData["CheckColumnButton"] == "true")
                {
                       <a class="btn btn-success text-white" href="/Column/CreateColumn" style="margin-left:25px;">
                        Add Column
                    </a>
                }

                    if (ViewData["CheckTicketButton"] == "true")
                    {
                        <a class="btn btn-primary text-white" href="/Ticket/CreateTicket" style="margin-left:25px;">
                            Add Ticket
                        </a>
                    }
            }

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->
                    <li class="nav-item dropdown">
                        <div class="dropdown nav-link dropdown-toggle hidden-arrow text-white" style="float:right;">
                            <i class="fas fa-bell text-white" style='font-size:24px'></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                            <div class="dropdown-content bg-dark mt-1" style="right:0;">
                                <a class="text-white" id="NO">Notification 1</a>
                                <a class="text-white" id="NT">Notification 2</a>
                            </div>
                        </div>
                    </li>
                    <!-- User Icon dropdown--> 
                    <li class="nav-item dropdown">
                        <div class="dropdown nav-link dropdown-toggle hidden-arrow text-white" style="float:right;">
                            <a class="dropbtn" style="color:inherit;"><i class='fas fa-user-circle text-white' style='font-size:24px;'></i></a>
                            <div class="dropdown-content bg-dark mt-1" style="right:0;">
                                <a class="text-white" id="AS" href="/User/UserUpdate" >Account Settings</a>
                                <a class="text-white" id="UL" href="/User/UserLogout">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px;">
        <div class="container pt-4 p-5">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            <p class="text-end ml-5">&copy; 2022 - Project Management Tool</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
